.bg-light{
  color: black !important;
}

body{
  background-color: #1e4a660f;
  color: #1e4a66;


}

.programmer-vector{
  width: 450px;
  padding: 110px 0 57px 0;
}
.btn{
  margin-top: 20px;
  width: 35%;
  font-size: 1.5rem;
}


@keyframes slidein {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Apply the animation to the heading */
.first {
  text-transform: capitalize;
  overflow: hidden; /* Ensures the text does not overflow the container */
  white-space: nowrap; /* Ensures the text is on one line */
  font-size: 3em; /* Optional: adjust the font size as needed */
  animation: typing 1s steps(30, end);
  margin-bottom: 15px;
}

.second {
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.2em;
  animation: slidein 2s ease-in-out;
  margin-bottom: 15px;
}
  

  /* Apply the animation to the button */
  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    border-radius: 4px;
    cursor: pointer;
    animation: slidein 1s ease-in;
  }